CSS
body{
    h1{
    font-family: 'poppins',sans-serif;

    font-size: 80px;

    border: 8px solid rgb(5, 5, 97);

    display: inline-block;

    text-align: center;

    padding: 20px;

    background-color: white;

    margin-bottom: 10px;

    box-shadow: 20px 20px 35px rgba(0,0,50,1);

    border-radius: 15px;

    

    }
    h2{
text-align: center;

color: rgb(0, 0, 225);

font-size:50px ;

text-shadow:5px 5px 20px rgba(0,110,105,0.8) ;

 word-spacing: 12px
    }

}

@media only screen and (max-width: 600px){
    
    h1{
        font-size: 32px;
        border: 4px solid rgb(5, 5, 97);
         display: inline-block;
         background-color: white;
        padding: 12px;
        margin-bottom: 10px;
        box-shadow:10px 10px 15px rgba(0,0,50,1); 
        border-radius: 10px;
        
    }

    h2{
      text-align: center;

color: rgb(0, 0, 225);

font-size:15 px ;

text-shadow:1px 1px 7px rgba(0,110,105,0.8) ;

 word-spacing: 4px  
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px){
h1{
    font-size: 55px;
    border: 4px solid rgb(5, 5, 97);
    display: inline-block;
    padding: 12px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 15px 15px 20px rgba(0,0,50,1);
    border-radius: 10px;

    
    

}

    h2{
      text-align: center;

color: rgb(0, 0, 225);

font-size:35px ;

text-shadow:3px 3px 14px rgba(0,110,105,0.8) ;

 word-spacing: 8px  
    }
} 



@media only screen and (max-width: 1025px) {
h1{
    font-size: 80px;
    border: 8px solid rgb(5, 5, 97);
    display: inline-block;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 12px;
   box-shadow:  20px 20px 35px rgba(0,0,50,1);
   
   


}

      h2{
text-align: center;

color: rgb(0, 0, 225);

font-size:50px ;

text-shadow:5px 5px 20px rgba(0,110,105,0.8) ;

 word-spacing: 12px
      }

}

.logo{
    font-family: 'poppins',sans-serif;

    font-size: 80px;

    border: 8px solid rgb(5, 5, 97);

    display: inline-block;

    text-align: center;

    padding: 20px;

    background-color: white;

    margin-bottom: 10px;

    box-shadow: 20px 20px 35px rgba(0,0,50,1);

    border-radius: 15px;

    

    animation: slideFade 5s ease-out;
    
}

@keyframes slideFade {
    0%{ transform: translateY(-20px) ; opacity: 0;}
    100%{transform: translateY(0);opacity: 1 ;}

}



.navbar {
 color:whitesmoke;

 padding: 10px 20px;

 position: relative;
}

#menu-toggle {
    display: none;

}

.menu{
display: none ;

flex-direction: column;

background-color: black;

font-size: 15px;

width: 15%;

top: 30px;

left: 0;

position: absolute;

margin:auto;

list-style: none;

border-radius: 30px;

padding: 0;

align-items: left;



}

.menu li{
    
    margin: 8px 0;

}

.menu li a{
 color: white;

 text-decoration: none;

 font-weight: bold;

 padding: 10px 20px;

 border-radius: 6px;

 display: inline-block;

 transition: background-color 0.3s;

}



#menu-toggle:checked ~.menu {display: flex;}
     
.styled-heading{
    font-size: 50PX;

    font-weight: bold;

    color:rgb(0, 0, 225) ;

    text-align: center;

    position: relative;

}



.styled-heading::after{

content:"" ;

display: block;

height: 6px;

bottom: -6px;

width: 100%;

margin: 8px auto 0;

background: linear-gradient(90deg,black,blue,red);

border-radius: 3px;


}

.wave-separator {
position: relative;
    top:0;
    width:100%;
    line-height:0%;

    
}

.wave-separater{

    display:block;
    width:100%;
    line-height:70px
}
header{
    background-color:rgb(34, 202, 34);
    position:fixed;
    top:0;
    width:100%;
    z-index: 1000;
